main {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 20px 20px 2px hsla(241, 100%, 89%, 0.2);
}


h1 {
    font-size: 72px;
    font-weight: 800;
    color: white;
    margin: 7px 0px;
}

h3 {
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
}

p {
    color: hsl(241, 100%, 89%);
}

.btn-continue {
    color: white;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 16px;
    background-color: hsl(224, 30%, 27%);
    border-radius: 32px;
    border: none;
    border-width: 0px;
    width: 288px;
    margin-left: 2px;
    margin: 10px 0 2px 2px;
}


.card-left {
    box-sizing: border-box;
    background-image: linear-gradient(hsl(252, 100%, 64%), hsl(241, 81%, 54%));
    text-align: center;
    height: 512px;
    width: 368px;
    padding: 42px 60px 44px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-right {
    box-sizing: border-box;
    background-color: white;
    height: 512px;
    width: 368px;
    padding: 42px 56px 44px;
    border-radius: 0 30px 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.compliment-section {
    margin-bottom: 10px;
}

.compliment {
    font-size: 32px;
    font-weight: 500;
    color: white;
    margin-bottom: 19px;
}

.dark-header {
    text-align: left;
    margin: 0;
    width: 288px;
}

.light-header {
    text-align: center;
    color: hsl(241, 100%, 89%);
    margin-bottom: 3px;
}

.normal-text {
    line-height: 1.28;
}

.result {
    height: 200px;
    width: 200px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0.3), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3px 5px;
    padding: 17px 16px;
    border-radius: 8px;
    width: 100%;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 360px;
    margin: 29px 0;
}

.stat-red {
    background-color: rgba(255, 87, 87, 5%);
}

.stat-orange {
    background-color: hsla(39, 100%, 56%, 5%);
}

.stat-green {
    background-color: hsla(166, 100%, 37%, 5%);
}

.stat-blue {
    background-color: hsla(234, 85%, 45%, 5%);
}

.red-lbl {
    color: hsl(0, 100%, 67%);
}

.orange-lbl {
    color: hsl(39, 100%, 56%);
}

.green-lbl {
    color: hsl(166, 100%, 37%);
}

.blue-lbl {
    color: hsl(234, 85%, 45%);
}

.icon-label {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.icon-img {
    margin-left: 1px;
    margin-right: 12px;

}

.fraction-nominator {
    color: hsl(224, 30%, 27%);
    font-weight: 700;
}

.fraction-denominator {
    color: hsla(224, 30%, 27%, 60%);
    margin-left: 3px;
}

.result-score-denominator {
    color: hsl(221, 100%, 96%, 40%);
}

.btn-continue:hover {
    background-image: linear-gradient(hsl(252, 100%, 64%), hsl(241, 81%, 54%));
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    main {
        flex-direction: column;
        border-radius: 0;
    }

    h1 {
        font-size: 56px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    label {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }

    .compliment {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .result {
        margin: 0px;
    }

    .card-left {
        border-radius: 0 0 30px 30px;
        padding: 20px 36px 30px;
        height: 355px;
        width: 375px;
    }

    .result {
        height: 140px;
        width: 140px;
    }

    .card-right {
        padding: 28px 0px 29px;
        height: 454px;
        width: 375px;
    }

    .stat {
        width: 284px;
        padding: 17px 16px;
        margin: 0;
    }

    .stats {
        margin: 24px 0px 24px;
    }

    .btn-continue {
        margin: 2px;
        width: 315px;
    }

}